<%- include('../../includes/header') %>
<%- include('../../includes/navbar') %>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2> Edição de usuário </h2>
    </div>
    <div class="card-body">
      <form method="post" action="/users/update">
        <input class="form-control" type="text" name="email" value="<%= user.email %>"> <br>
        <input type="hidden" name="id" value="<%= user.id %>">
        <button class="btn btn-success"> Atualizar </button>
      </form>
    </div>
  </div>
</div>

<%- include('../../includes/footer') %>