<%- include('../../includes/header') %>
<%- include('../../includes/navbar') %>

<div class="container">
  <hr>
  <h2> Usuários </h2>
  <hr>
  <a class="btn btn-success" href="/admin/users/create"> Novo usuário </a>

  <br><br>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th> ID </th>
        <th> E-mail </th>
        <th> Ações </th>
      </tr>
    </thead>

    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td class="align-middle"> <%= user.id %> </td>
        <td class="align-middle"> <%= user.email %> </td>
        <td class="align-middle">

          <a href="/admin/users/edit/<%= user.id %>" class="btn btn-warning"> Editar </a>

          <form method="post" action="/users/delete" style="display: inline" onsubmit="confirmarDelete(event, this)">
            <input type="hidden" name="id" value="<%= user.id %>">
            <button class="btn btn-danger"> Deletar </button>
          </form>

        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../includes/footer') %>

<script>
  function confirmarDelete(event, form) {
    event.preventDefault();
    let decision = confirm('Tem deseja que deseja realizar essa ação?');
    if (decision) return form.submit();
  }
</script>