<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Guia Perguntas </title>
  <link rel="stylesheet" href="/css/style.css"> <!-- express localiza a pasta public por padrão -->
</head>

<body>

  <h1> Guia Perguntas </h1>
  <hr>
  <img src="/img/vbf.jpg" alt="Vinicius Figueiredo">
  <h3> Lista de perguntas </h3>

  <p> Nome: <%= nome %> </p>
  <p> Idade: <%= idade %> </p>
  <p> Linguagem favorita: <%= lang %> </p>
  <p> Empresa: <%= empresa %> </p>

  <% if (msg) { %>
  <h3> Isso é uma mensagem de erro! </h3>
  <% } else { %>
  <h3> Nenhum erro! </h3>
  <% } %>

  <% produtos.forEach(produto => { %>
  <hr>
  <h3><%= produto.nome %></h3>
  <h4>=> R$ <%= produto.preco %></h4>
  <% }) %>


</body>

</html>