<%- include('../../includes/header') %>
<%- include('../../includes/navbar') %>

<div class="container">
  <hr>
  <h2> Categorias </h2>
  <hr>
  <a class="btn btn-success" href="/admin/categories/new"> Nova categoria </a>

  <br><br>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th> ID </th>
        <th> Título </th>
        <th> Slug </th>
        <th> Ações </th>
      </tr>
    </thead>

    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <td class="align-middle"> <%= category.id %> </td>
        <td class="align-middle"> <%= category.title %> </td>
        <td class="align-middle"> <%= category.slug %> </th>
        <td class="align-middle">

          <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning"> Editar </a>

          <form method="post" action="/categories/delete" style="display: inline" onsubmit="confirmarDelete(event, this)">
            <input type="hidden" name="id" value="<%= category.id %>">
            <button class="btn btn-danger"> Deletar </button>
          </form>

        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../includes/footer') %>

<script>
  function confirmarDelete(event, form) {
    event.preventDefault();
    let decision = confirm('Tem deseja que deseja realizar essa ação?');
    if (decision) return form.submit();
  }
</script>